workflows/tool-avanzar-etapa.json
{
  "updatedAt": "2026-04-07T19:14:35.000Z",
  "createdAt": "2026-04-05T10:39:56.521Z",
  "id": "C0VapVUQmm644IBX",
  "name": "Tool avanzarEtapa - AgendaWpp",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-01",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "avanzar-01",
      "name": "Avanzar Etapa en DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "nU9kH5ztVr0hmqhU",
          "name": "AgendaWpp-SalesAgent"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM advance_funnel_stage(\n  {{ $json.lead_id }}::INT,\n  '{{ $json.new_stage }}',\n  'agent'\n);",
        "options": {}
      }
    },
    {
      "id": "response-01",
      "name": "Preparar Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-01",
              "name": "result",
              "value": "={{ $json.success ? 'Etapa avanzada exitosamente de ' + $json.from_stage + ' a ' + $json.to_stage : 'Error al avanzar etapa' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Avanzar Etapa en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avanzar Etapa en DB": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chihuahua",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}